doctype html(lang='en')
head
    meta(name='google-site-verification', content='xY5DUNVQ6_N4Dfnxo-SOxesvTaxtRhnybryFDl2Mb20')
    meta(charset='utf-8')
    title Gifti.ly
    meta(name='description', content='Giftily (Gifti.ly) is a card and gift giving recommendation and tracking service')
    meta(name='author', content='David Ramsay')
    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='../public/stylesheets/normalize.css')
    link(rel='stylesheet', href='../public/stylesheets/skeleton.css')
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css')
    
    link(rel='shortcut icon', type='image/x-icon', href='../public/images/favicon.ico')
    meta(name='theme-color', content='#ffffff')
  body(style="padding:50px")
    h1(style="color:#F59826") Houston, we have a problem.
    .container(style='padding-top:20px')

    div(style="font-size:0.5em;")
      | Thanks for trying to sign up for our pilot.  Unfortunately, it looks like something went wrong behind the scenes.  Please either <a href="/signup"> try one more time</a>, or <a href="mailto:chetan-jhaveri@gmail.com">let us know you had a problem</a>.

    div
      a(class="button primary-button", href="/signup" style ="margin-top:20px; margin-right:10px") Try One More Time!
      a(class="button primary-button", href="mailto:chetan-jhaveri@gmail.com") Let Us Know What Happened.