<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="google-site-verification" content="xY5DUNVQ6_N4Dfnxo-SOxesvTaxtRhnybryFDl2Mb20" />
  <meta charset="utf-8">
  <title>Gifti.ly</title>
  <meta name="description" content="Giftily (Gifti.ly) is a card and gift giving recommendation and tracking service">
  <meta name="author" content="David Ramsay">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  


  <!-- STYLESHEETS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../public/stylesheets/normalize.css">
  <link rel="stylesheet" href="../public/stylesheets/skeleton.css">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="shortcut icon" type="image/x-icon" href="../public/images/favicon.ico">
  <meta name="theme-color" content="#ffffff">


</head>
<body>

  <div id="splash" class="container" style="padding-top:150px">
           <img class="u-max-full-width" src="../public/images/giftily.jpg "> 
  </div>

  <div id="comingsoon" class="container u-max-full-width" style="text-align:center">
  <a class="button primary-button" href="/signup">Sign up for the pilot here!</a> 
  </div>
  <div class="footer" style="padding-top:50px; font-size:0.5em; width:100%; text-align:center">
  <div style="text-align:left; padding-left:25%; padding-right:25%;">
  Welcome to Gift.ily! We’re making it easy to send your Dad a card this Father’s Day. Here is how it works:
   <ul style="list-style-type: none; padding-left:50px; padding-top:25px">
    <li>1.  Sign up</li>
    <li>2.  Select an awesome card from 5 options we send to you by email</li>
    <li>3.  Pay $5</li>
    <li>4.  Receive your chosen card at your mailbox</li>
    <li>5.  Sign the card, and send it off in our stamped envelope</li>
  </ul>
  It’s that simple, so <a href="/signup">sign up</a> now! 
  </div>
  </div> 
  <div style="width:100%;min-height:50px"></div>   

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>

